<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Counseling Virtual Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <style>
     .register_body {    display: flex;
    justify-content: center;
    align-items: center;}
    </style>
</head>
<body>
    <div class="head">
        <img src="{{ url_for('static', filename='AI.png') }}" alt="Logo" class="logo">       
        <h2>AI POWERED PERSONALIZED THERAPY USING REAL-TIME EMOTION DETECTION</h2>
    </div>

    <!-- Navigation Bar 
    <div class="nav-links">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('login') }}">Login</a>
    </div> -->

    <!-- Content Section -->
    <div class="container">
        <header>
            <font color="white"><h1>🤖 Student Counselling Virtual Machine</h1></font>
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('login') }}">Login</a>
            </nav>
        </header>
        <br><br>
    <div class="register_body">
    <div class="register-container">
        <h2>Login</h2>
        <form method="POST">
            <input type="text" name="username" placeholder="Enter Username" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <button type="submit">Login</button>
        </form>
        
        <p>Don't have an account? <a href="/register">Register</a></p>
    </div>
    </div>
</body>
</html>
